# appJar==0.90.0
pandas
flask
Werkzeug==2.3.7
dataset
rsonlite==0.1.0
Flask-WTF==0.14.2
Flask-SQLAlchemy==2.5.1
WTForms==2.2.1
WTForms-Alchemy==0.16.9
WTForms-Components==0.10.4
Flask-Migrate==2.5.2
python-dotenv==0.10.3
