{% macro render_field(field, class_to_use) %}
  <dt>{{ field.label }}</dt>
  <div class="col-auto">
    <dd>{{ field(class_=class_to_use, **kwargs)|safe }}
  </div>
  {% if field.errors %}
    <ul class=errors>
    {% for error in field.errors %}
      <li>{{ error }}</li>
    {% endfor %}
    </ul>
  {% endif %}
  </dd>
{% endmacro %}

{% macro render_select_old(field) %}
<tr><th>{{field.label}}</th>
    <td>
    <div class="btn-group" data-toggle="buttons" id={{field.id}}>
    {% for key, value, checked, attrs in field.iter_choices() %}
    {% if key != '' %} 
        <label class="btn btn-light" for="{{key}}">
            {{value}}
            <input type="radio" name="{{value}}" id="{{key}}" autocomplete="true" value="{{value.lower()}}">
            <span class="glyphicon glyphicon-ok"></span>
        </label>
    {% endif %}
    {% endfor %}
</div>
</td></tr>
{% endmacro %}

{% macro render_select(field) %}
<div>
    {{field.label}}
    {% for option in field %}
    <label class="btn btn-light">
        {{ option.label.text }}
        {{ option }}
    </label>
    {% endfor %}
</div>
{% endmacro %}

{% macro render_multiselect(field) %}
<div>
    {{field.label}}
    {{field}}
</div>
{% endmacro %}

{% macro render_text_field(field) %}
<tr><th><label>{{ field.label }}</label></th><td> {{ field }}</td></tr>
{% endmacro %}
