{% extends 'bootstrap/base.html' %}
{% import "bootstrap/wtf.html" as wtf %}
{% from "_formhelpers.html" import render_select, render_multiselect, render_text_field %}


<script src="{{ url_for('static', filename='jquery-3.3.1.min.js') }}"></script>
<script src="{{ url_for('static', filename='bootstrap.min.js') }}"></script>
<script src="{{ url_for('static', filename='myjscript.js') }}?3"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/fetch/3.6.2/fetch.min.js"></script>

{% block content %}


<div class="container">
    <div class="row">
        <div class="col-md-8 offset-md-2">
            <br>
            {% for message in get_flashed_messages() %}
            <div class="alert alert-warning">
                <button type="button" class="close" data-dismiss="alert">&times;</button>
                {{ message }}
            </div>
            {% endfor %}
            <br>


            <h2>{{form.title}}</h2>
            <hr>
            <form action method="post" class="form" role="form">
                {{ form.hidden_tag() }}
                {{ wtf.form_errors(form) }}

                <div>
                    <table>
                        <tbody>
                            <tr>
                                <th>{{form.marked_done.label}}</th>
                                <td>{{form.marked_done}} </td>
                            </tr>
                        </tbody>
                    </table>
                </div>

                <br/>

                <details open>
                    <summary>
                    <span class="icon">▼</span>
                    <b>{{ form.devices.title }}</b>
                    </summary>
                    {{ form.devices.hidden_tag() }}
                    <div class="content">
                        <div class="subform">
                            <table>
                                <tbody>
                                    {{ render_select(form.devices.live_together) }}
                                    {{ render_select(form.devices.physical_access) }}
                                </tbody>
                            </table>
                        </div>
                        </div>
                </details>

                <details>
                    <summary>
                    <span class="icon">▼</span>
                    <b>{{ form.accounts.title }}</b>
                    </summary>
                    {{ form.accounts.hidden_tag() }}
                    <div class="content">
                        <div class="subform">
                            <table>
                                <tbody>
                                    {{ render_text_field(form.accounts.pwd_mgmt) }}
                                    {{ render_select(form.accounts.pwd_comp) }}
                                    {{ render_text_field(form.accounts.pwd_comp_which) }}
                                </tbody>
                            </table>
                        </div>
                     </div>
                </details>

                
                <details>
                    <summary>
                    <span class="icon">▼</span>
                    <b>{{ form.sharing.title }}</b>
                    </summary>
                    {{ form.sharing.hidden_tag() }}
                    <div class="content">
                        <div class="subform">
                            <table>
                                <tbody>
                                    {{ render_select(form.sharing.share_phone_plan) }}
                                    {{ render_multiselect(form.sharing.phone_plan_admin) }}
                                    {{ render_select(form.sharing.share_accounts) }}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </details>


                <details>
                    <summary>
                    <span class="icon">▼</span>
                    <b>{{ form.smarthome.title }}</b>
                    </summary>
                    {{ form.smarthome.hidden_tag() }}
                    <div class="content">
                        <div class="subform">
                            <table>
                                <tbody>
                                    {{ render_select(form.smarthome.smart_home) }}
                                    {{ render_multiselect(form.smarthome.smart_home_setup) }}
                                    {{ render_select(form.smarthome.smart_home_access) }}
                                    {{ render_select(form.smarthome.smart_home_account) }}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </details>


                <details>
                    <summary>
                    <span class="icon">▼</span>
                    <b>{{ form.kids.title }}</b>
                    </summary>
                    {{ form.kids.hidden_tag() }}
                    <div class="content">
                        <div class="subform">
                            <table>
                                <tbody>
                                    {{ render_select(form.kids.custody) }}
                                    {{ render_select(form.kids.child_phys_access) }}
                                    {{ render_select(form.kids.child_phone_plan) }}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </details>


                <details>
                    <summary>
                    <span class="icon">▼</span>
                    <b>{{ form.legal.title }}</b>
                    </summary>
                    {{ form.legal.hidden_tag() }}
                    <div class="content">
                        <div class="subform">
                            <table>
                                <tbody>
                                    {{ render_multiselect(form.legal.legal) }}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </details>


                <br>
                <br>
                <br>
                <div><span class="primarybutton">{{form.submit}}</span></div>
                </form>
        </div>
    </div>
</div>
{% endblock %}

