{% extends 'bootstrap/base.html' %}
{% import "bootstrap/wtf.html" as wtf %}

<script src="{{ url_for('static', filename='jquery-3.3.1.min.js') }}"></script>
<script src="{{ url_for('static', filename='bootstrap.min.js') }}"></script>
<script src="{{ url_for('static', filename='myjscript.js') }}?3"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/fetch/3.6.2/fetch.min.js"></script>

{% block content %}


<div class="container">
    <div class="row">
        <div class="col-md-8 offset-md-2">
            <br>
            {% for message in get_flashed_messages() %}
            <div class="alert alert-warning">
                <button type="button" class="close" data-dismiss="alert">&times;</button>
                {{ message }}
            </div>
            {% endfor %}
            <br>
            <div>
                <a href="{{ url_for('evidence_taq') }}" class="btn btn-default">TAQ Page</a>
                <a href="{{ url_for('evidence_scan_start') }}" class="btn btn-default">Scan a device</a>
                <a href="{{ url_for('evidence_account_default') }}" class="btn btn-default">Add an account</a>

                <br><br>
                <h3>Consultation Summary</h3>
                <p><b>Client Name:</b> {{consultdata.setup.client}}</p>
                <p><b>Consultation Date:</b> {{consultdata.setup.date}}</p>
                <br/>
                <details>
                    <summary>
                    <span class="icon">▼</span>
                    TAQ Risk Factors</summary>
                    <div class="content">
                        <div class="risks">
                            <ul>
                            {% for risk in consultdata.taq.risk_factors %}
                            <li>
                                <div class="riskbox">
                                <b>{{risk.risk}}</b>: {{risk.description}}
                                </div>
                            </li>
                            {% endfor %}
                                
                            </ul>
                        </div>
                    </div>
                </details>
                <br/>
                {% if consultdata.scans %}
                <details>
                    <summary>
                    <span class="icon">▼</span>
                        Scans ({{consultdata.scans|length}})
                    </summary>
                    <div class="content">
                    <table class="summarytable">
                        <tbody>
                        <tr><th>Nickname</th>
                            <th>Type</th>
                            <th>Manual?</th>
                            <th>Apps Found</th>
                            <th>Apps Checked</th>
                        </tr>

                        {% for scan in consultdata.scans %}
                        <tr>
                            <td>
                                <p>{{scan.device_nickname}}</p>
                            </td>
                            <td>
                                <p>{{scan.device_type}}</p>
                            </td>
                            <td>
                                <p>{{scan.manual}}</p>
                            </td>
                            <td>
                                <p>{{scan.all_apps|length}}</p>
                            </td>
                            <td>
                                <p>{{scan.selected_apps|length}}</p>
                            </td>
                            {% if scan.manual %}
                            <td>
                                <a href="{{ url_for('evidence_scan_manualadd', ser=scan.serial) }}" class="btn btn-default">Select apps</a>
                            </td>
                            {% else %} 
                            <td>
                                <a href="{{ url_for('evidence_scan_select', ser=scan.serial) }}" class="btn btn-default">Select apps</a>
                            </td>
                            {% endif %}
                            <td>
                                <a href="{{ url_for('evidence_scan_investigate', ser=scan.serial) }}" class="btn btn-default">Edit investigation</a>
                            </td>
                        </tr> 
                        {% endfor %}
                        </tbody>
                    </table></div>
                </details>
                {% else %}
                <p><b>Scans</b>: None</p>
                {% endif %}
                <br/>
                {% if consultdata.accounts %}
                <details>
                    <summary>
                    <span class="icon">▼</span>
                    Account Checks ({{consultdata.accounts|length}})
                    </summary>

                    <div class="content">
                    <table class="summarytable">
                        <tbody>
                        <tr><th>Nickname</th>
                            <th>Platform</th>
                        </tr>

                        {% for account in consultdata.accounts %}
                        <tr>
                            <td>
                                <p>{{account.account_nickname}}</p>
                            </td>
                            <td>
                                <p>{{account.platform}}</p>
                            </td>
                            <td>
                                <a href="{{ url_for('evidence_account', id=loop.index0) }}" class="btn btn-default">Edit Account</a>
                            </td>
                        </tr> 
                        {% endfor %}
                    </tbody>
                    </table>
                    </div>
                </details>
                {% else %}
                <p><b>Accounts</b>: None</p>
                {% endif %}
            </div>
            <br/>
            <br/>
            <div><span class="primarybutton"><a href="{{ url_for('evidence_printout') }}" class="btn btn-default">Generate Summary</a></span></div>
        </div>
    </div>
</div>
{% endblock %}
