{% extends 'bootstrap/base.html' %}
{% import "bootstrap/wtf.html" as wtf %}
{% from "_formhelpers.html" import render_select, render_text_field %}

<script src="{{ url_for('static', filename='jquery-3.3.1.min.js') }}"></script>
<script src="{{ url_for('static', filename='bootstrap.min.js') }}"></script>
<script src="{{ url_for('static', filename='myjscript.js') }}?3"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/fetch/3.6.2/fetch.min.js"></script>

{% block content %}


<div class="container">
    <div class="row">
        <div class="col-md-8 offset-md-2">
            <br>
            {% for message in get_flashed_messages() %}
            <div class="alert alert-warning">
                <button type="button" class="close" data-dismiss="alert">&times;</button>
                {{ message }}
            </div>
            {% endfor %}

            <form action method="post" class="form" role="form">
                {{ form.hidden_tag() }}
                {{ wtf.form_errors(form) }}

            <h2>{{ form.title }}</h2>
            <br>
                    <tr><th><h4>{{form.platform.label}}</h4></th><td>{{form.platform}}</td></tr>
                    <tr><th><h4>{{form.account_nickname.label}}</h4></th><td>{{form.account_nickname}}</td></tr>
                    <br/><br/>
                    {{ form.hidden_tag() }}
                    <div class="content">
                        <h5>{{ form.suspicious_logins.label }}</h5>
                        <div class="subform">
                            {{form.suspicious_logins.hidden_tag()}}
                            <table>
                                <tbody>
                                    {{ render_select(form.suspicious_logins.recognize) }}
                                    {{ render_text_field(form.suspicious_logins.describe_logins) }}
                                    <button id="accountnameFIXME" type="button" onclick="getScreenshot('login', '{{device}}')" value="screenshot">Screenshot</button>

                                    {{ render_select(form.suspicious_logins.activity_log) }}
                                    {{ render_text_field(form.suspicious_logins.describe_activity) }}
                                    <button id="loginactivityFIXME" type="button" onclick="getScreenshot('loginactivity', '{{device}}')" value="screenshot">Screenshot</button>
                                </tbody>
                            </table>
                        </div>
                        <h5>{{ form.password_check.label }}</h5>
                        <div class="subform">
                            {{ form.password_check.hidden_tag() }}
                            <table>
                                <tbody>
                                    {% for subform in [form.password_check.know, form.password_check.guess] %}
                                    {{ render_select(subform) }}
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                        <h5>{{ form.recovery_settings.label }}</h5>
                        <div class="subform">
                            {{ form.recovery_settings.hidden_tag() }}
                            <table>
                                <tbody>
                                    {% for subform in [form.recovery_settings.phone_present, form.recovery_settings.phone_access] %}
                                    {{ render_select(subform) }}
                                    {% endfor %}
                                    {{ render_text_field(form.recovery_settings.phone) }}
                                    <button id="recovery_FIXME" type="button" onclick="getScreenshot('recovery', '{{device}}')" value="screenshot">Screenshot</button>
                                    {% for subform in [form.recovery_settings.email_present, form.recovery_settings.email_access] %}
                                    {{ render_select(subform) }}
                                    {% endfor %}
                                    {{ render_text_field(form.recovery_settings.email) }}
                                </tbody>
                            </table>
                            <button id="recoveryemailFIXME" type="button" onclick="getScreenshot('recoveryemail', '{{device}}')" value="screenshot">Screenshot</button>
                        </div>
                        <h5>{{ form.two_factor_settings.label }}</h5>
                        <div class="subform">
                            {{ form.two_factor_settings.hidden_tag() }}
                            <table>
                                <tbody>
                                    {% for subform in [form.two_factor_settings.enabled, form.two_factor_settings.second_factor_type] %}
                                    {{ render_select(subform) }}
                                    {% endfor %}
                                    {{ render_text_field(form.two_factor_settings.describe) }}
                                    {% with subform = form.two_factor_settings.second_factor_access %}
                                    {{ render_select(subform) }}
                                    {% endwith %}

                                </tbody>
                            </table>
                            <button id="twofactor_FIXME" type="button" onclick="getScreenshot('twofactor', '{{device}}')" value="screenshot">Screenshot</button>
                        </div>
                        <h5>{{ form.security_questions.label }}</h5>
                        <div class="subform">
                            {{ form.security_questions.hidden_tag() }}
                            <table>
                                <tbody>
                                    {{ render_select(form.security_questions.present) }}
                                    {{ render_text_field(form.security_questions.questions) }}
                                    {{ render_select(form.security_questions.know) }}
                                </tbody>
                            </table>
                            <button id="securityq_FIXME" type="button" onclick="getScreenshot('securityq', '{{device}}')" value="screenshot">Screenshot</button>
                        </div>
                        <h5>{{form.notes.label}}</h5>
                        <div class="subform notes">{{ form.notes }}</div>
                    </div>
            <br>
            <div><span class="primarybutton">{{form.submit}}</span></div>
            </form>
        </div>
    </div>
</div>
{% endblock %}
