<script>
    function get(url){
        $('#loadingDiv').show();
        $('#msg').html("")
        $.get(url, function(data) {
            $('#msg').html(data);
            $('#loadingDiv').hide();
        }).done(function(data) {
        }).fail(function(data) {
            alert("Failed:" + JSON.serialize(data));
        })
    }
   
    var loading = $('#loadingDiv').hide();
    $(document).ready(function() {
        $('#loadingDiv').hide();
    });
    
</script>

<div class="container">
    <div>
        <h4 class="display-4"> Evidence Collection</h4>
        <hr/>
        <h2>Form will go here</h2>
        User inputs their device and the name (default right now: iOS, test iPhone)
        <br></br>
        <h2>Get data</h2>
        <div class="display-4">
            <button class="btn btn-primary mx-2"  onclick="get('/evidence/apps')" value="apps">Press this button to test functions</button>
        </div>
        <div class="jumbotron" id="msg"></div>
	<br><br>
    </div>
</div>

