{% extends 'bootstrap/base.html' %}
{% import "bootstrap/wtf.html" as wtf %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-8 offset-md-2">
            <br>
            {% with messages = get_flashed_messages() %}
            {% if messages %}
            <ul class=flashes>
              {% for message in messages %}
              <li>{{ message }}</li>
              {% endfor %}
            </ul>
            {% endif %}
            {% endwith %}
            <br>

            <h2>{{ form.title }}</h2>
            <hr>
            <form action method="post" class="form" role="form">
                {{ form.hidden_tag() }}
                {{ wtf.form_errors(form) }}

                {% if step == 1 %}
                <table id="scan-form">
                    <tbody>
                        <tr><th><label>{{ form.name.label }}</label></th><td> {{ form.name }}</td> </tr>
                        <tr><th><label>{{ form.device_type.label }}</label></th><td> {{ form.device_type }}</td></tr>
                    </tbody>
                </table>
                <br>
                <p>Add instructions here</p>
                <br>
                {% endif %}

                {% if step == 2 %}
                {% if form.spyware_apps|length > 1 %}
                <div class="result-overview">
                    <img src="/webstatic/images/some-concerns.png">
                    <br>
                    <b>{{ form.spyware_apps|length }}</b> potential spyware apps found
                </div>
                {% elif form.spyware_apps|length == 1 %}
                <div class="result-overview">
                    <img src="/webstatic/images/some-concerns.png">
                    <br>
                    <b>{{ form.spyware_apps|length }}</b> potential spyware app found
                </div>
                {% else %}
                <div class="result-overview">
                    <img src="/webstatic/images/no-concerns.png">
                    <br>
                    No spyware apps found!
                </div>
                {% endif %}
                <br>
                {% for nested in form.spyware_apps %}
                {% if loop.index0 == 0 %}
                <details open>
                {% else %}
                <details>
                {% endif %}
                    <summary>
                    <span class="icon">▼</span>
                    <b>{{ spyware[loop.index0].app_name }}</b>
                    <img src="/webstatic/images/complete.png">
                    </summary>
                    {{ nested.hidden_tag() }}
                    <div class="content">
                        <h4>{{nested.install_form.label}}</h4>
                        <div class="subform">{{ nested.install_form }}</div>
                        <h4>{{nested.notes.label}}</h4>
                        <div class="subform">{{ nested.notes }}</div>
                    </div>
                </details>
                <br>
                {% endfor %}
                {% endif %}

                {% if step == 3 %}
                {% if form.dual_use_apps|length > 1 %}
                <div class="result-overview">
                    <img src="/webstatic/images/some-concerns.png">
                    <br>
                    <b>{{ form.dual_use_apps|length }}</b> potential dual use apps found
                </div>
                {% elif form.dual_use_apps|length == 1 %}
                <div class="result-overview">
                    <img src="/webstatic/images/some-concerns.png">
                    <br>
                    <b>{{ form.dual_use_apps|length }}</b> potential dual use app found
                </div>
                {% else %}
                <div class="result-overview">
                    <br>
                    <img src="/webstatic/images/no-concerns.png">
                    No dual use apps found!
                </div>
                {% endif %}

                <br>
                {% for nested in form.dual_use_apps %}
                {% if loop.index0 == 0 %}
                <details open>
                {% else %}
                <details>
                {% endif %}
                    <summary>
                    <span class="icon">▼</span>
                    <b>{{ dualuse[loop.index0].app_name }}</b>
                    <img src="/webstatic/images/inprogress.png">
                    </summary>
                    {{ nested.hidden_tag() }}
                    <div class="content">
                        <h4>{{nested.install_form.label}}</h4>
                        <div class="subform">{{ nested.install_form }}</div>

                        {% for perm in nested.permissions %}
                        <h4>{{ perm.permission_name.label }}</h4>
                        {{ perm.hidden_tag() }}
                        <div class="subform">{{ perm }}</div>
                        {% endfor %}

                        <h4>{{nested.notes.label}}</h4>
                        <div class="subform">{{ nested.notes }}</div>
                    </div>
                </details>
                <br>
                {% endfor %}
                {% endif %}

                {% if step == 4 %}
                <div class="account-buttons">
                    <div id="ck-button">{{form.Google}}<span><img src="/webstatic/images/no-concerns.png">{{ form.Google.label }}</span></div>
                    <div id="ck-button">{{form.iCloud}}<span><img src="/webstatic/images/no-concerns.png">{{ form.iCloud.label }}</span></div>
                    <div id="ck-button">{{form.Microsoft}}<span><img src="/webstatic/images/no-concerns.png">{{ form.Microsoft.label }}</span></div>
                    <div id="ck-button">{{form.Lyft}}<span><img src="/webstatic/images/no-concerns.png">{{ form.Lyft.label }}</span></div>
                    <div id="ck-button">{{form.Uber}}<span><img src="/webstatic/images/no-concerns.png">{{ form.Uber.label }}</span></div>
                    <div id="ck-button">{{form.Other}}<span><img src="/webstatic/images/no-concerns.png">{{ form.Other.label }}</span></div>
                </div>
                {% endif %}

                {% if step == 5 %}
                {% if form.accounts|length > 1 %}
                <div class="result-overview">
                    <img src="/webstatic/images/some-concerns.png">
                    <br>
                    <b>{{ form.accounts|length }}</b> accounts to check
                </div>
                {% elif form.accounts|length == 1 %}
                <div class="result-overview">
                    <img src="/webstatic/images/some-concerns.png">
                    <br>
                    <b>{{ form.accounts|length }}</b> account to check
                </div>
                {% else %}
                <div class="result-overview">
                    <img src="/webstatic/images/no-concerns.png">
                    <br>
                    No accounts to check!
                </div>
                {% endif %}

                {% for nested in form.accounts %}
                {% if loop.index0 == 0 %}
                <details open>
                {% else %}
                <details>
                {% endif %}
                    <summary>
                    <span class="icon">▼</span>
                    <b>{{ accounts[loop.index0].account_name }}</b>
                    <img src="/webstatic/images/notstarted.png">
                    </summary>
                    {{ nested.hidden_tag() }}
                    <div class="content">
                        <h4>{{ nested.suspicious_logins.label }}</h4>
                        <div class="subform">{{ nested.suspicious_logins }}</div>
                        <h4>{{ nested.password_check.label }}</h4>
                        <div class="subform">{{ nested.password_check }}</div>
                        <h4>{{ nested.recovery_settings.label }}</h4>
                        <div class="subform">{{ nested.recovery_settings }}</div>
                        <h4>{{ nested.two_factor_settings.label }}</h4>
                        <div class="subform">{{ nested.two_factor_settings }}</div>
                        <h4>{{ nested.security_questions.label }}</h4>
                        <div class="subform">{{ nested.security_questions }}</div>
                        <h4>{{nested.notes.label}}</h4>
                        <div class="subform">{{ nested.notes }}</div>
                    </div>
                </details>
                <br>
                {% endfor %}
                {% endif %}

                <br>
                <div><span class="primarybutton">{{form.submit}}</span></div>
            </form>
            {% if step > 1 %}
            <a href="{{ url_for('evidence', step=step-1) }}" class="btn btn-default">Previous</a>
            {% endif %}
            <br>
            <br>
            <br>
            <div class="progress mb-4">
                <div class="progress-bar" role="progressbar" style="width: {{ progress }}%" aria-valuenow="{{ progress }}" aria-valuemin="0" aria-valuemax="100">{{ progress }}%</div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
