{% extends 'bootstrap/base.html' %}
{% import "bootstrap/wtf.html" as wtf %}

<script src="{{ url_for('static', filename='jquery-3.3.1.min.js') }}"></script>
<script src="{{ url_for('static', filename='bootstrap.min.js') }}"></script>
<script src="{{ url_for('static', filename='myjscript.js') }}?3"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/fetch/3.6.2/fetch.min.js"></script>

{% block content %}

<div class="container">
    <div class="row">
        <div class="col-md-8 offset-md-2">
            <br>
            {% for message in get_flashed_messages() %}
            <div class="alert alert-warning">
                <button type="button" class="close" data-dismiss="alert">&times;</button>
                {{ message }}
            </div>
            {% endfor %}
            <br>
            <h2>{{form.title}}</h2>
            <hr>
            <form action method="post" class="form" role="form">
                {{ form.hidden_tag() }}
                {{ wtf.form_errors(form) }}

                <table id="scan-form">
                    <tbody>
                        <tr><th><label>{{ form.client.label }}</label></th><td> {{ form.client }}</td> </tr>
                        <tr><th><label>{{ form.date.label }}</label></th><td> {{ form.date }}</td> </tr>
                    </tbody>
                </table>
                <br>
                <br>
                <br>
                <div><span class="primarybutton">{{form.submit}}</span></div>
                </form>
        </div>
    </div>
</div>
{% endblock %}

