{% extends 'bootstrap/base.html' %}
{% import "bootstrap/wtf.html" as wtf %}

<script src="{{ url_for('static', filename='jquery-3.3.1.min.js') }}"></script>
<script src="{{ url_for('static', filename='bootstrap.min.js') }}"></script>
<script src="{{ url_for('static', filename='myjscript.js') }}?3"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/fetch/3.6.2/fetch.min.js"></script>

{% block content %}


<div class="container">
    <div class="row">
        <div class="col-md-8 offset-md-2">
            <br>
            {% for message in get_flashed_messages() %}
            <div class="alert alert-warning">
                <button type="button" class="close" data-dismiss="alert">&times;</button>
                {{ message }}
            </div>
            {% endfor %}
            <br>
            <div>
                <a href="{{ url_for('evidence_taq') }}" class="btn btn-default">TAQ Page</a>
                {% set new_id = consultdata.scans|length %}
                <a href="{{ url_for('evidence_scan_start') }}" class="btn btn-default">Scan a device</a>
                <a href="{{ url_for('evidence_account_default') }}" class="btn btn-default">Add an account</a>

                <br><br>
                <b>Consultation Info:</b>
                <p>{{consultdata.setup.client}}</p>
                <p>{{consultdata.setup.date}}</p>
                <br/>
                <b>TAQ Data</b>
                <details><p>{{consultdata.taq}}</p></details>
                <br/>
                <b>Scans: {{consultdata.scans|length}}</b>
                <details>
                    <table>
                        {% for scan in consultdata.scans %}
                        <tr>
                            <th>
                                <p>{{scan.device_nickname}}</p>
                            </th>
                            <th>
                                <p>{{scan.device_type}}</p>
                            </th>
                            <th>
                                <p>{{scan.check_apps|length}} apps checked</p>
                            </th>
                        </tr> 
                        {% endfor %}
                    </table>
                </details>
                <br/>
                <b>Accounts: {{consultdata.accounts|length}}</b>
                <details>
                    <table>
                        {% for account in consultdata.accounts %}
                        <tr>
                            <th>
                                <p>{{account.account_nickname}}</p>
                            </th>
                            <td>
                                <a href="{{ url_for('evidence_account', id=loop.index0) }}" class="btn btn-default">Edit Account</a>
                            </td>
                        </tr> 
                        {% endfor %}
                    </table>
                </details>
            </div>
            <br/>
            <br/>
            <div><span class="primarybutton"><a href="{{ url_for('evidence_printout') }}" class="btn btn-default">Generate Summary</a></span></div>
        </div>
    </div>
</div>
{% endblock %}
