<div class="">
    <h4><span style="color: green; font-family: sans-serif; font-size: 1.1em"><b>{{ title.title }}</b> <!-- ({{ title.version_current }}) --></span>
  <!-- <span style="float: right; font-size: 15px"><a href="#" onclick="(confirm('Close {{ title.title }}?')) ? (function(){window.open('','_self').close()}()) : (function(){return false;}())">&#x274C; Close App and End Session</a></span> -->
        <span style="float: right; font-size: 15px">
            <a class='btn btn-normal'  href="/" data-toggle="tooltip" title="
                      Home"><u>Return to scanner home</u></a>
            <a class='btn btn-normal'  href="/instruction" target="_blank" rel="noopener" data-toggle="tooltip" title="Instruction for preparing your
                      device for a scan."><u>Scan Instruction</u></a>
            <a class='btn btn-normal' href="/privacy" target="_blank" rel="noopener" data-toggle="tooltip" title="Review the built-in sharing feature settings of your device with this."><u>Privacy Checkup</u></a>
            <a href="/kill" onclick="window.open('','_self').close();">&#x274C; Close App and End Session</a>
        </span> 
    </h4>

    <p><!-- {{ title.title }} is  -->An <a href="https://github.com/rchatterjee/phone_scanner" target="_blank" rel="noopener">open-source</a> app
        for scanning mobile devices (e.g., Android and iOS devices) for apps that
        can be used to spy on, track, or otherwise monitor a person.<br/>
    </p>
</div>


<!--<label class="font-weight-bold lead">FJC</label>
<form id="scan_select" method="POST" action="{{ url_for('client_forms') }}">
<div class="btn-group btn-group-toggle" data-toggle="buttons">
    {% for a in ["Manhattan", "Brooklyn", "Queens", "The Bronx", "Staten Island"] %}
    <label class="btn btn-outline-secondary {% if device==a.lower() %} active {% endif %}">
	<input type="radio" name="fjc" id="{{ a | lower }}"
	       value="{{ a | lower }}" autocomplete="off"
	       {% if device==a.lower() %} checked {% endif %}
	> {{ a }}
    </label>
    {% endfor %}
</div>
<br/><br/>
<input class="form-control" name="consultant_initials" id="consultant_initials" 
       placeholder="Consultant Initials"
       rows="2" value=""/>
<br>
<input style="display:none" name="clientid" id="client-id" type="text" value="{{ clientid }}"/></label>
<button class="btn btn-primary mx-2">Scan now</button>
</form>-->
{% from "_formhelpers.html" import render_field %}
<form method=post>
  <dl>
    {% for f in form %}
      {{ render_field(f) }}
    {% endfor %}
    <!-- for custom CSS class, load these individually or attempt to make rules for sa Types -->
    <!-- {{ render_field(form.fjc, 'btn btn-primary mx-2') }}
      {{ render_field(form.consultant_initials) }} -->
  </dl>
  <p><input type=submit value=Register>
</form>
    <!-- {{ render_field(form.fjc, 'btn btn-primary mx-2') }}
      {{ render_field(form.consultant_initials) }} -->
