{% extends 'bootstrap/base.html' %}

{% block content %}
<div class="container">
  <div class="row">
    <div class="col-md-8 offset-md-2">
        <h1>Summary</h1>
        <p>Results for {{device_owner}}'s {{device}} phone</p>
        <hr>
        
        <div class="summarybubble">
            <table>
                <tbody>
                    <tr>
                        {% with num_apps = concerns.spyware|length + concerns.dualuse|length %}
                        <th>
                            <div class="number">{{num_apps}}</div>
                            <div>concerning app{% if num_apps != 1 %}s{%endif%}</div>
                        </th>
                        {% endwith %}
                        <td>
                            <ol>
                                {% for concern in concerns.spyware + concerns.dualuse %}
                                <li><b>{{concern.name}}</b>: {{concern.summary}}</li>
                                {% endfor %}
                            </ol>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        
        <div class="summarybubble">
            <table>
                <tbody>
                    <tr>
                        <th>
                            <div class="number">{{concerns.accounts|length}}</div>
                            <div>potentially compromised account{% if concerns.accounts|length != 1 %}s{%endif%}</div>
                        </th>
                        <td>
                            <ol>
                                {% for concern in concerns.accounts %}
                                <li><b>{{concern.name}} account</b>: {{concern.summary}}</li>
                                {% endfor %}
                            </ol>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>

        <a class="btn btn-default btn-lg">See advice</a>

        <a class="btn btn-success btn-lg" href="{{url_for('evidence_printout')}}">Go to printout</a>

    </div>
  </div>
</div>
{% endblock %}
